<article class="product">
  <div *ngIf="!isEditing; else temp">{{ product.title }}</div>
  <!-- routerLink="/products/{{ product.id }}" -->
  <button
    pButton
    type="button"
    [icon]="isEditing ? 'pi pi-check' : 'pi pi-pencil'"
    iconPos="right"
    class="p-button-info"
    (click)="editOrSave()"
    [disabled]="isEditing && inputTitle.length === 0"
  ></button>
  <button
    pButton
    type="button"
    icon="pi pi-trash"
    iconPos="right"
    class="p-button-danger"
    (click)="deleteProduct(product.id || '')"
    [disabled]="isEditing && inputTitle.length === 0"
  ></button>
</article>

<ng-template #temp>
  <input
    class="input-title"
    type="text"
    pInputText
    [(ngModel)]="inputTitle"
    [value]="product.title"
  />
  <label for="input-title">Title can't be empty</label>
  <input
    class="input-title"
    type="text"
    pInputText
    [(ngModel)]="inputDetails"
    [value]="product.details"
  />
</ng-template>
