<article class="product">
  <div *ngIf="!isEditing; else temp">{{ product.title }}</div>
  <div>
    <button
      routerLink="/products/{{ product.id }}"
      pButton
      type="button"
      icon="pi pi-pencil"
      iconPos="right"
      class="p-button-info"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-trash"
      iconPos="right"
      class="p-button-danger"
      (click)="deleteProduct(product.id)"
    ></button>
  </div>
</article>
<ng-template #temp><app-product-detail></app-product-detail> </ng-template>
