<article class="product" *ngIf="product">
  <div>
    <label class="input" for="input-title"> <strong>Title:</strong></label>
    <input
      class="input input-title"
      type="text"
      pInputText
      [(ngModel)]="product.title"
    />
  </div>
  <div>
    <label class="warn" *ngIf="product.title.length === 0" for="input-title"
      >Title can't be empty</label
    >
  </div>
  <div>
    <label class="input" for="input-title"> <strong>Details:</strong></label>
    <input
      class="input input-title"
      type="text"
      pInputText
      [(ngModel)]="product.details"
    />
  </div>
  <div>
    <button
      routerLink="/products"
      pButton
      type="button"
      icon="pi pi-check"
      iconPos="right"
      [disabled]="product.title.length === 0"
      (click)="editOrSave()"
    ></button>
    <button
      pButton
      routerLink="/products"
      type="button"
      icon="pi pi-trash"
      iconPos="right"
      [disabled]="product.title.length === 0"
      (click)="deleteProduct(product.id)"
    ></button>
  </div>
</article>
